
@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@100;200;300;400;600&display=swap');

/* i{
    font-size: 100px;
    color:white
} */
.one{
    /* border:2px solid red; */
    width:70vw;
    /* height: 100vh; */
    margin: auto;
    text-align: center;
    font-family: 'Gantari', sans-serif;
    
}

.two{
    /* border:2px solid blue; */
    /* margin-top: 40px; */
    width: 50%;
    /* margin: auto; */
    margin: 0 auto;
    margin-top: 105px;
}

.search-box{
    /* border: 2px solid yellow; */
    /* width: 100%; */
    margin:2px;
    display: flex;
    height: 41px;
    
}

.search-box-one{
   /* border:1px solid greenyellow; */
   width: 70%;
   background-color: wheat;

}
.search-box-two{
   /* border:1px solid red; */
   width: 30%;
   height: 114%;
}

.search-input{
    width: 100%;
    height: 100%;
    /* border-radius: 10px; */
    text-align: center;
    font-family: 'Gantari', sans-serif;
    font-size: 1rem;
}

.search-button{
    font-family: 'Gantari', sans-serif;
    width: 100%;
    height: 100%;
    background-color: rgb(81, 214, 214);
    font-size: 1rem;
    cursor: pointer;

}
.search-button:hover{
    background-color: wheat;
}


.three{
    /* border:1px solid red; */
    width: 70%;
    margin: auto;
    margin-top: 44px;
    height: 500px;
    margin-bottom: 100px;
}

.three-one{
    /* border: 2px solid yellow; */
    height: 37%;
    background-color: white;
    border-radius: 20px 20px 0 0 ;
}

.icon-one{
    margin-top: 31px;
    font-size: 100px;
}


.three-two{
    /* border: 2px solid cyan; */
    height: 33%;
    
}
.three-three{
    /* border:2px solid orange; */
    height: 27%;
}

.three-three-flexer{
    /* border:1px solid blue; */
    display: flex;
    height: 100%;
    
}

.last-one{
    /* border: 1px solid green; */
    width: 25%;
    border-radius: 0 0 0 20px;
}
.last-two{
    /* border: 1px solid green; */
    width: 25%;
   
}
.last-three{
    /* border: 1px solid green; */
    width: 25%;

}
.last-four{
    /* border: 1px solid green; */
    width: 25%;
    border-radius: 0 0 20px 0;
}
.hello{
    background-color: white;
}

.last-container{
    display:flex;
    height: 100%;
}

.onner {
    /* border:1px solid red; */
    height:100%;
    width:30%
}
.onner i{
    font-size: 33px;
    margin-top: 70%
}

.twoer{
    /* border: 1px solid blue; */
    height:100%;
    width:70%;
}

.setter{
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
    height: 100%;
}

.ok{
    /* border:1px solid green */
}
.three-two-one{
    width: 70%;
    height: 100%;
} 
.three-two-two{
    width: 30%;
    height: 100%;
    background-color:  rgb(81, 214, 214);
} 

.super{
    display: flex;
    width: 100%;
    height: 100%;
}
.super-one{
    text-align: center;
    /* border:2px solid red; */
    /* width:40%;
    height:100%; */
}

.super-two{
    /* border:2px solid red; */
    /* margin-left:5px; */
    width:60%;
    height:100%;
}
.super-one p{
    display: inline-block;
    font-size:52px;
    color:white
}
.child-one{
    display: inline-block;
    margin: 0;
    margin-top: 44px;
    font-size: 47px;
    margin-right: 53px;
    color:white
}
.child-two{
    display: inline-block;
    margin: 0;
    margin-right: 85px;
    color:white
}

.super-child-one{
    display: inline-block;
    color:black;
    margin: 0;
    font-size: 25px;
    margin-top: 49px;
}

.super-child-two{
    display: inline-block;
    color:black;
    margin: 0;
    font-size: 25px;
}
.twoer p{
    margin-top: 30px;
}

@media (max-width:600px){
    .one{
        width:100vw;
    }
    .icon-one{
        margin-top: 40px;
        font-size:70px;
    }

    .two{
        width: 80%;
    }
    .three-one{
        height: 150px;
    }

    .three{
        width: 93%;
        margin-top:20px;
        
    }
    .three-three-flexer{
        flex-wrap: wrap;
    
    }
    .three-three{
        height: 200px;
    }
    .hello{
        width: 49%;
        /* height: 50%; */
    }
    .last-one{
        border-radius: 0 0 0 0 ;
    }
    .last-three{
        border-radius: 0 0 0 20px;
    }
    .super{
        flex-direction: column;
        /* width: 50%; */
    }
    .super-one p{
        /* border: 1px solid red; */
        width: 100%;
        font-size: 35px;
        margin: 0;
        margin-top: 15px;
        
    }
    .super-two{
        /* border: 1px solid green; */
        /* font-size:15px; */
        width: 100%;
    }
    .child-one{
        font-size: 45px;
        margin: 0;
        width: 100%;
    }
    .child-two{
        font-size: 20px;
        margin: 0;
    }
    .super{
        height: 50px;
    }
   
    .three-three-flexer{
        width: 102%;
    }
    .three-two-two{
        width: 150px;
    }
}